<div style="width: 100%-2px; height:100%; margin:0px">
	<body background="#000000" style="margin:0px">
		<h2 style="text-align:center; position:absolute; top:0px; left:42%; font-size:36">
			DeMockCrazy
		</h2>
		<div style="float:right; text-align:center; overflow:auto; background-color:#ff0000; height:100%; width:50%">
			<img src= '/static/{{gopName}}.png'><br> 
			<h1>
				{{ gopResults }}
			</h1>
		</div>
    	<div style="float:left; text-align:center; overflow:auto; background-color:#0000ff; height:100%; width:50%">
			<img src = '/static/{{demName}}.png'><br> 
			<h1>
				{{demResults }}
			</h1>
		</div>
	</body>
</div>
